<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="android.smartcard.test"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="android.smartcard.test">

    <uses-library android:name="android.test.runner" />
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <instrumentation android:targetPackage="android.smartcard.test" android:name="android.test.InstrumentationTestRunner" />
</manifest> 