<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="btpcsc.server"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SMARTCARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application android:icon="@drawable/icon" android:label="BTPCSCServer">
    
        <receiver android:enabled="true" android:name=".BtpcscBroadcastReceiver">
            <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED"/>
			   <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
			   <category android:name="android.intent.category.DEFAULT" />               
            </intent-filter> 
        </receiver>
        
        <service android:name=".BtpcscServer" android:process=":remote"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="btpcsc.server.BtpcscServer" />
            </intent-filter>
        </service>
    </application>


</manifest> 