<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="android.smartcard"
      android:sharedUserId="android.uid.smartcard"
      android:versionCode="1" 
      android:versionName="2.2">
    
    <permission android:label="SmartcardServicePermission label" 
    			android:protectionLevel="dangerous" 
    			android:name="org.simalliance.openmobileapi.SMARTCARD">
   	</permission>
    
    <application android:label="SmartcardService">
        <service android:enabled="true"
         		android:name="android.smartcard.SmartcardService" 
         		android:process=":remote"
         		android:permission="org.simalliance.openmobileapi.SMARTCARD">
            <intent-filter>
                <action android:name="android.smartcard.ISmartcardService" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<uses-permission android:name="android.permission.NFC" />
	<uses-permission android:name="com.android.nfc.permission.NFCEE_ADMIN" />
</manifest> 
